body {
  background-color: darkkhaki;
  color: rgb(22, 28, 12);
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

input {
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

input:focus {
  outline: none;
}
